*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  height: 100px;
  background-color: tomato;
  position: fixed;
  width: 100%;
  top:0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  line-height: 100px;
}

nav ul li a{
  text-decoration: none;
  color:black;
  font-size:30px;

}

#project{
  height: 40vh;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#contact{
  margin-left: 20px;
  margin-right: 20px;
}

#contact ul {
  list-style: none;
}

#story{
  margin-top: 120px;
  color:#fff;
  background-color: navajowhite;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height:200px;
}